{% extends "demo/base.html" %}
{% block content %}
    <table>
        <tr>
            <td><b>Starting point</b></td>
            <td><b>Is Active</b></td>
            <td><b>Name</b></a></td>
            <td><b>Next Task</b></td>
            <td><b>Actions</b></td>
        </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.start_here }}</td>
            <td>{{ task.is_active }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.next.name }}</td>
            <td>[<a href="/task/{{ task.id}}/update/">Update</a>]</td>
            <td>[<a href="/task/{{ task.id}}/delete/">Delete</a>]</td>
        </tr>
    {% endfor %}
    </table>
    <p>[<a href="/task/add/">Add Task</a>]</p>
{% endblock %}
